// Brand
$brand-primary:                #be2a32;
$brand-primary-600:     darken(#083C51, 5%);
$brand-accent:                 #FECC56;
$brand-accent-600:      darken(#FECC56, 10%);
$blue:                         hsl(217, 71%, 53%) !default;
$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$orange: hsl(14, 100%, 53%) !default;
$yellow: hsl(48, 100%, 67%) !default;
$green: hsl(141, 71%, 48%) !default;
$turquoise: hsl(171, 100%, 41%) !default;
$blue: hsl(217, 71%, 53%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: #be2a32 !default;
// Colors
$white:                        #fff;
$grey-200:                     #EEEEEE;
$grey-300:                     #E0E0E0;
$black:                        #000;
$black-900:                    #212121;
$black-800:                    #424242;


//================================================
// General Sizes
//================================================
$xxl-size:  3.157em;
$xl-size:   2.369em;
$lg-size:   1.777em;
$md-size:   1.333em;
$sm-size:   1em;
$xs-size:   .75em;
$xxs-size:  .563em;
$xxxs-size: .422em;
//================================================
// Typography Weights
//================================================
$hairline:  200;
$light:     300;
$regular:   400;
$semi-bold: 500;
$bold:      700;